:host {
    display: block;
    background-color: rgba(22, 22, 23, .8);
    border-radius: .7rem;
    padding: 0.3rem 1rem;
    margin-bottom: 2rem;
    margin-top: .4rem;
    color: #fff;
}

h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

p { margin-top: .3rem;} 